<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.itcast.crawler.autohome.mapper.EduMapper">
	<select id="getEduByName" parameterType="java.lang.String" resultType="cn.itcast.crawler.autohome.pojo.Edu">
		SELECT 
		  `edu_id`,
		  `edu_name`,
		  `edu_start_url`,
		  `edu_end_url`,
		  `edu_information_url` 
		FROM
		  `edu` 
		 WHERE
		 edu_name = #{edu_name}
	</select>
</mapper>