<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.itcast.crawler.autohome.mapper.TalkMapper">
	<!-- 插入数据 -->
	<insert id="saveTalk" parameterType="cn.itcast.crawler.autohome.pojo.Talk_information">
		INSERT INTO `talk_information` (
		  `career_talk_id`,
		  `school_name`,
		  `meet_time`,
		  `address`,
		  `company_id`,
		  `meet_name`
		) 
		VALUES
		  (
		    #{career_talk_id},
		    #{school_name},
		    #{meet_time},
		    #{address},
		    #{company_id},
		    #{meet_name}
		  ) ;
		
	</insert>
	<!-- 分页查询数据 -->
	<select id="queryTalkIdByPage" parameterType="java.util.Map" resultType="java.lang.Integer">
		SELECT 
		  `career_talk_id`
		FROM
		  `talk_information` 
		LIMIT #{start},#{rows};
	</select>
	
</mapper>